<header class="cabecalho">
  <nav class="cabecalhomenu">
     <a class="itemmenu" href="#">Home</a>
     <a class="itemmenu" href="#">Quem Somos</a>
     <a class="itemmenu" href="#">Projetos</a>
     <a class="itemmenu" href="#">Contato</a>
  </nav><!--cabecalhomenu-->
</header><!--cabecalho-->

<main class="conteudo">
  <section class="conteudo-principal">
      <div class="conteudoescrito">
          <h1 class="conteudotitulo">Robot</h1>
          <h2 class="conteudosubtitulo">Conheça nosso Robot</h2>
          <button class="conteudobotao">Cadastre-se</button>
      </div>
      
  </section>
  <section class="conteudosecundario">
          <h3 class="secundariotitulo">Lorem Ipsum</h3>
          <p class="secundarioparagrafo">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <p class="secundarioparagrafo">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <p class="secundarioparagrafo">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
  </section>
</main>

<footer class="rodape">
 
</footer>